@media screen and (max-width: 992px) {

    .couple-section .couple-half-title {
        color: var(--brand-primary);
    }

    .couple-section .couple-wrap {
        width: 100% !important;
    }

    .couple-section .heart {
        display: none;
    }

    .couple-section .couple-half {
        width: 100% !important;
        text-align: center !important;
        margin: 0.5rem 0;
    }

    .couple-section .couple-half .groom {
        float: right !important;
        margin-right: 5px !important;
    }

    .couple-section .couple-half .bride {
        float: left !important;
        margin-left: 5px !important;
    }

    .couple-section .couple-half .desc-groom {
        padding-right: 180px !important;
        text-align: right !important;
    }

    .couple-section .couple-half .desc-bride {
        padding-left: 180px !important;
        text-align: left !important;
    }

    .couple-section .photo-container {
        width: 98% !important;
        margin-left: 1rem !important;
    }

    .planning-section {
        background-position-y: unset !important;
    }


    .timeline-section .timeline:before {
        left: 90px;
    }

    .timeline-section .timeline-item .timeline-panel {
        width: calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: -webkit-calc(100% - 200px);
    }

    .timeline-section .timeline-item .timeline-badge {
        left: 25px;
        margin-left: 0;
        top: 16px;
    }

    .timeline-section .timeline-item .timeline-panel {
        float: right;
    }

    .timeline-section .timeline-item .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline-section .timeline-item .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .memories-section #gallery {
        min-height: 60vh;
    }

    .memories-section .photo-container {
        width: 60%;
        left: 15%;
    }

    .modal {
        top: 15% !important;
    }

    .modal-dialog {
        max-width: 500px;
    }

    .carousel-item {
        max-width: 500px;
    }

    .save-date-section .form-check-label {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    body::-webkit-scrollbar {
        width: 0.25rem;
    }

    body::-webkit-scrollbar-track {
        background: transparent;
    }

    body::-webkit-scrollbar-thumb {
        background: transparent;
    }

    h1, .h1 {
        font-size: 4rem !important;
    }

    h2, .h2 {
        font-size: 3rem !important;
    }

    h3, .h3 {
        font-size: 2.5rem !important;
    }

    h4, .h4 {
        font-size: 2rem !important;
    }

    h5, .h5 {
        font-size: 1.7rem !important;
    }

    h6, .h6 {
        font-size: 1.2rem !important;
    }

    .section {
        padding: 2.5rem 0 !important;
    }

    .section .container {
        max-width: 98%;
    }


    .planning-section .event-wrap {
        margin: 1rem;
    }

    .planning-section .event-col {
        width: 40%;
    }

    .planning-section .event-col:first-of-type {
        width: 20% !important;
    }

    .timeline-section .timeline-item .timeline-badge {
        width: 80px;
        height: 80px;
        margin-left: 0px !important;
    }

    .memories-section #gallery {
        min-height: 50vh;
    }

    .memories-section .photo-container {
        width: 45%;
        left: 22%;
    }

    .modal {
        top: 25% !important;
    }

    .modal-dialog {
        max-width: 400px;
    }

    .carousel-item {
        max-width: 400px;
    }
    .save-date-section .form-check-label {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {

    .couple-section .couple-half-title {
        font-size: 2rem;
    }

    .couple-section .couple-half .groom, .couple-half .bride {
        width: 100% !important;
        height: 140px !important;
    }

    .couple-section .couple-half .groom img, .couple-half .bride img {
        width: 120px !important;
        height: 120px !important;
        margin: 0 auto !important;
    }

    .couple-section .couple-half .groom, .couple-half .bride {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .couple-section .couple-half .desc-groom {
        padding-right: 0 !important;
        text-align: center !important;
    }

    .couple-section .couple-half .desc-bride {
        padding-left: 0 !important;
        text-align: center !important;
    }

    .timeline-section .timeline:before {
        margin-left: -64px;
    }

    .timeline-section .timeline-item .timeline-panel {
        width: 80% !important;
    }

    .timeline-section .timeline-item .timeline-panel:before {
        top: 30px;
    }

    .timeline-section .timeline-item .timeline-panel:after {
        top: 31px;
    }

    .timeline-section .timeline-item .timeline-badge {
        width: 60px;
        height: 60px;
        margin-left: -20px !important;
    }

    .memories-section #gallery {
        min-height: 40vh;
        margin: 2rem 0;
    }

    .memories-section .photo-container {
        width: 45%;
    }

    .modal {
        top: 25% !important;
        left: 10%;
    }

    .modal-dialog {
        max-width: 300px;
    }

    .carousel-item {
        max-width: 300px;
    }
    .save-date-section .form-check-label {
        width: 85%;
    }
}

@media screen and (max-width: 340px) {

    .memories-section .photo-container {
        width: 50%;
    }

    .modal {
        top: 25% !important;
        left: 0%;
    }
}