@import url(../css/fontawesome-all.min.css);


:root {
    --teracotta: #B85A24FF;
    --teracotta-80: #B85A24CC;
    --teracotta-40: #B85A2466;
    --sage-green: #90967AFF;
    --sage-green-80: #90967ACC;
    --brand-primary: var(--teracotta);
    --brand-primary-80: var(--teracotta-80);
    --dark-gray: #444444;
    --light-gray: #CCCCCC;
    --text-color: #828282;
    --bg-default: #f7f7f7;
    --bg-alternate: #e7e7e7;
}

.terracotta {
    color: var(--teracotta)
}

.sage-green {
    color: var(--sage-green)
}

.white {
    color: white;
}

.black {
    color: black;
}

.text-color {
    color: var(--text-color)
}

.sacramento {
    font-family: "Sacramento", Arial, serif !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url("./images/img_bg_2.jpg") top no-repeat;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
    background: var(--light-gray);
}

body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background: var(--teracotta);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: bold;
    margin: 0.5rem 0;
}

h1, .h1 {
    font-size: 6rem !important;
}

h2, .h2 {
    font-size: 5rem !important;
}

h3, .h3 {
    font-size: 4rem !important;
}

h4, .h4 {
    font-size: 3rem !important;
}

h5, .h5 {
    font-size: 2rem !important;
}

h6, .h6 {
    font-size: 1.5rem !important;
}


.section {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem 0;
    width: 100% !important;
}

.section .container {
    max-width: 60%;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: white;
    color: var(--brand-primary);
    border-color: var(--brand-primary);
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}

.btn:hover {
    background: var(--brand-primary) !important;
    color: white;
}

 .form-control,
 .form-control:focus,
 .form-control:active {
    border: none;
    -webkit-box-shadow: 0px 0px 2px 1px var(--teracotta);
    box-shadow: 0px 0px 2px 1px var(--teracotta);
}

/***** LOGIN ******/
#login-page {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9000;
    overflow: hidden;
}

#login-page .row {
    height: 100vh !important;
}

#login-form {
    padding: 5rem 2rem;
    text-shadow: black 1px 1px 1px;
    color: white;
}

#login-form .form-control,
#login-form .form-control:focus,
#login-form .form-control:active {
    height: 54px;
    background: #22222277;
    font-variant: small-caps;
    font-weight: 650;
    font-size: 1.6rem;
    color: var(--teracotta) !important;
    text-shadow: black 1px 0px 0px;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 3px var(--teracotta);
    box-shadow: 0px 0px 5px 3px var(--teracotta);
}

#login-form .form-control::placeholder {
    color: white;
    font-variant: none !important;
    font-size: 1rem !important;
}

#login-form .btn {
    padding: 15px 20px;
    border: none !important;
    text-transform: uppercase;
    transition: ease-out .2s;
}

#page {
    background: url("./images/img_bg_2.jpg") top no-repeat;
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

#disconnect-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.header-section {
    background: rgba(0, 0, 0, 0.5);
    height: 95vh !important;
}

.j\&m {
    color: white;
}

.couple-section {
    background-color: white;
}

.couple-section .couple-wrap {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.couple-section .heart {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    z-index: 99;
    animation: pulse 1s ease infinite;
}

.couple-section .heart i {
    font-size: 20px;
    background: #fff;
    padding: 20px;
    color: var(--brand-primary);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.couple-section .couple-half {
    width: 50%;
    float: left;
}

.couple-section .couple-half-title {
    font-family: "Sacramento", Arial, serif;
    color: var(--brand-primary);
    font-size: 3em;
    font-weight: 600;
}

.couple-section .couple-half .groom, .couple-half .bride {
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.couple-section .couple-half  img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.couple-section .couple-half .groom {
    float: right;
    margin-right: 5px;
}

.couple-section .couple-half .bride {
    float: left;
    margin-left: 5px;
}

.couple-section .couple-half .desc-groom {
     padding-right: 180px;
     text-align: right;
}

.couple-section .couple-half .desc-bride {
    padding-left: 180px;
    text-align: left;
}

.planning-section {
    background: url("./images/img_bg_3.jpg") no-repeat;
    background-size: cover;
    background-position-y: -230px;
    background-position: center;
    color: white;
}

.planning-section .event-wrap {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.planning-section .event-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 1rem 0;
}

.planning-section .event-col {
    border-right: 1px solid white;
    width: 33%;
}

.planning-section .event-col:last-of-type {
    border: none;
}

.planning-section .event-wrap p,
.planning-section .event-wrap span {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    margin: 0.3rem 0;
    height: 3rem;
}
.planning-section .event-wrap i {
    color: white;
    font-size: 20px;
}

.download-link {
    cursor: pointer;
    color: var(--teracotta) !important;
    font-weight: 600;
    margin: 4rem 0 0;
}

.infos-section {
    background-color: var(--bg-default);
}

.infos-section .color-theme-item {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: relative;
    top: 0.75rem;
}

.nota-bene {
    display: inline-block;
    background-color: #C3C3C3;
    font-style: italic;
    margin: 0.3rem 0;
    padding: 0.2rem;
    border: 1px solid #838383;
}


.timeline-section {
    background: url("./images/img_bg_1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.timeline-section .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline-section .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #d4d4d4;
    left: 50%;
    margin-left: 0px;
}

.timeline-section .timeline-item {
    margin-bottom: 20px;
    position: relative;
}
.timeline-section .timeline-item:before, .timeline-section .timeline-item:after {
    content: " ";
    display: table;
}
.timeline-section .timeline-item:after {
    clear: both;
}

.timeline-section .timeline-item > .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #d4d4d4;
    padding: 15px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: white;
}
.timeline-section .timeline-item > .timeline-panel:before {
    position: absolute;
    top: 80px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline-section .timeline-item .timeline-panel:after {
    position: absolute;
    top: 81px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-section .timeline-item:nth-of-type(even) .timeline-panel {
    float: right;
}
.timeline-section .timeline-item:nth-of-type(even) .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline-section .timeline-item:nth-of-type(even) .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-section .timeline-badge {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    width: 160px;
    height: 160px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -80px;
    background-color: #999999;
    z-index: 100;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.timeline-section .timeline-heading h6 {
    margin-bottom: 0.2rem;
}

.timeline-section .timeline-date {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.memories-section {
    background-color: var(--bg-alternate);
    height: fit-content !important;
}

.memories-section #gallery {
    width: 100%;
    padding: 0;
    margin: 8rem 0 5rem 0;
    position: relative;
    min-height: 65vh;
}

.memories-section .photo-container {
    aspect-ratio: 1 / 1; /* Keeps a 1:1 aspect ratio for the images */
    overflow: hidden;
    width: 35%;
    margin: 0.5rem;
    cursor: pointer;
    position: absolute;
    left: 25%;
    top: 10%;
    transition: ease 1s;
}

.memories-section .photo-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make sure the image fills the column */
    height: 100%; /* Ensures the image is square */
    object-fit: cover; /* Ensures image covers the square without stretching */
}
.memories-section .photo-container .photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark, semi-transparent overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.memories-section .photo-container:hover .photo-overlay {
    opacity: 1;
}

.save-date-section .form-group {
    margin: 0.5rem 0;
}

.save-date-section label {
    float: left;
}
.save-date-section .form-check-label {
    width: 97%;
    float: right;
}
.save-date-section input[type=checkbox] {
    display: inline-block;
}

.save-date-section .btn {
    float: right;
}

.modal {
    top: 0% !important;
}
.carousel-control-prev {
    left: -15px;
}
.carousel-control-next {
    right: -15px;
}
.modal .carousel-control-prev, .modal .carousel-control-next {
    text-decoration: none;
    height: 80%;
    top: 10%;
}


.swal2-container {
    z-index: 999999;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: var(--teracotta) !important;
}